<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:device="http://www.springframework.org/schema/mobile/device"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/mobile/device 
		http://www.springframework.org/schema/mobile/device/spring-mobile-device-1.0.xsd">
	<!--  
	<bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/page/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"></bean>
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters"> 
			<list> 
	        	<ref bean="mappingJacksonHttpMessageConverter"/> 
	        </list> 
	    </property>  
	     <property name="webBindingInitializer">
 			<bean class="com.gmsz.om.common.utils.DateConverter"/>
		</property>
	</bean>
	<bean id="mappingJacksonHttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
				<value>application/json;charset=UTF-8</value>
			</list>
		</property>
	</bean>
	
	
  	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
  		<property name="basenames">
  			<list>
  				<value>com.gmsz.om.resources.messages</value>
  				<value>com.gmsz.om.web.login.resources.messages</value>
  			</list>
  		</property>
	</bean>
	-->
	<context:property-placeholder location="classpath:com/gmsz/om/common/utils/config.properties" />
	
	<bean id="dataSource2" class="org.logicalcobwebs.proxool.ProxoolDataSource">
		<property name="alias" value="2" />
		<property name="driver" value="org.gjt.mm.mysql.Driver" />
		<property name="driverUrl" value="jdbc:mysql://127.0.0.1:3306/ibmsdev?characterEncoding=UTF-8" />
		<property name="user" value="root" />
		<property name="password" value="" />
		<!--<property name="houseKeepingTestSql" value="${house-keeping-test-sql}" />-->
		<property name="maximumConnectionCount" value="10" />
		<property name="minimumConnectionCount" value="1" />
		<property name="prototypeCount" value="3" />
		<property name="simultaneousBuildThrottle" value="20" />
		<property name="trace" value="true" />
	</bean>
	<bean id="sqlSessionFactory2" name="sqlSessionFactory2" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource2" /> 
		<property name="configLocation" value="/WEB-INF/config.xml"></property>
	</bean>
	
	 <tx:annotation-driven transaction-manager="transactionManager2"/>
	
	<bean id="transactionManager2" name="transactionManager2" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">   
    	<property name="dataSource" ref="dataSource2"></property>
 	</bean>
 	
	<bean id="mapperScannerConfigurer2"  name="mapperScannerConfigurer2" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactory" ref="sqlSessionFactory2" />
		<property name="basePackage" value="com.gmsz.om.web.**.dao" />
	</bean>

	

 	
	<aop:aspectj-autoproxy  proxy-target-class="true"/>
 	
 	<bean id="commonLog" class="com.gmsz.om.common.log.CommonLog">
  	</bean>
  	
 	<bean class="com.gmsz.om.common.utils.ConfigProperties">
  	   
  	    
  	</bean>
 	
  	
  	<bean class="com.gmsz.om.web.opc.service.OpcServer">
  	</bean>
 	
 	<context:component-scan base-package="com.gmsz.om.web"/>
	
</beans>
